/* This is needed so the tooltip's absolute position is
 * relative to the message's position in the chatlog
 */
.beyond20-roll-result,
.beyond20-roller-error {
    position: relative;
    padding: 0px 5px;
}

.beyond20-total-damage {
    font-size: 1.05em;
    font-weight: bold;
    border-radius: 3px;
    line-height: 24px;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 0px 0px 2px inset;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    margin-bottom: 3px;
}

.beyond20-critical-damage {
    border-left: 2px solid #9c3940;
    padding-left: 3px;
}

.beyond20-total-damage.beyond20-critical-damage {
    border: 1px solid #9c3940;
    border-radius: 3px;
    margin-bottom: 2px;
    box-shadow: rgb(208 53 53) 0px 0px 2px inset;
    padding: 0px 5px;
}

.beyond20-healing {
    font-size: 1.05em;
    font-weight: bold;
    border-radius: 3px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 3px;
    border: 1px solid rgb(0 125 10);
    background: rgb(40 255 0 / 10%);
    box-shadow: 0 0 2px #0b6900c2 inset;
}

.beyond20-dice-roller-content {
    background-color: #ddeedd;
    border-radius: 10px;
    padding: 10px;
}

.beyond20-roll-total {
    text-decoration: none;
    font-weight: bold;
}

.beyond20-message {
    /* font-size: 12px; */
    font-family: "Signika", "Roboto", sans-serif;
}

.beyond20-header {
    display: flex;
    flex-direction: row;
}
.beyond20-header .beyond20-character-avatar {
    margin-top: 0.5rem;
    margin-bottom: auto;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid black;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.beyond20-message details {
    flex-grow: 1;
}

.beyond20-message details summary,
.beyond20-title {
    flex: 1;
    font-style: normal;
    margin: 2px 0px;
    line-height: 36px;
    font-family: "Modesto Condensed", "Roboto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    color: #4b4a44;
    padding-top: 3px;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;
}

.beyond20-message .beyond20-description,
.beyond20-message details table {
    /* border: 2px groove #eeede0; */
    border: none;
    width: 100%;
    padding: 4px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: initial;
}

.beyond20-message table td:first-child {
    font-weight: bold;
}

.beyond20-roll-cells,
.beyond20-roll-dice-rolls,
.beyond20-dice-roller-content .beyond20-roll-dice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0.2em;
    padding: 0;
}

.beyond20-roll-cell,
.beyond20-roll-die-result {
    flex: 1 0 auto;
    margin: 1px;

    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    font-size: 20px;
    font-weight: bold;
    font-family: "Signika", "Roboto", serif;
}

.beyond20-dice-roller-content .beyond20-roll-dice-formula {
    flex-grow: 1;
}
.beyond20-dice-roller-content .beyond20-roll-dice-rolls {
    flex-grow: 4;
}
.beyond20-dice-roller-content .beyond20-roll-formula {
    background-color: #ddd;
    text-align: center;
    width: 100%;
}

.beyond20-roll-detail-crit {
    color: darkgreen;
    font-weight: bold;
}
.beyond20-roll-detail-fail {
    color: darkred;
    font-weight: bold;
}
.beyond20-roll-detail-crit-fail {
    color: darkblue;
    font-weight: bold;
}
.beyond20-roll-detail-normal {
    color: black;
}
.beyond20-roll-detail-discarded {
    color: grey;
    text-decoration: line-through;
    opacity: 0.5;
}

.beyond20-tooltip .beyond20-tooltip-content {
    display: none;
    background: url(/ui/parchment.jpg) repeat;
    background-color: #f5f2ec;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 10px;
    width: 90%;
    top: -50%;
    left: 0;
    border: 2px solid #6f6c66;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

span.dice-roll.beyond20-tooltip-content {
    background-color: #f9f9f9;
}

.beyond20-tooltip:hover .beyond20-tooltip-content {
    display: block;
    /* Move the tooltip above the parent element. */
    transform: translate(0, -100%);
    font-size: initial;
}

.beyond20-tooltip-content .dice-tooltip {
    display: block;
}

.dice-tooltip .part-header {
    font-size: initial;
}

.dice-roll .dice-formula {
    margin: 0.3em 0;
    font-weight: normal;
}

.beyond20-query-prefix {
    padding: 5px;
}

.beyond20-form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px 0;
}
.beyond20-form-row > * {
    flex: 2;
}

.beyond20-button-roll-damages {
    font-family: "Signika", "Roboto", sans-serif;
    font-size: 12px;
    width: 100%;
    height: 24px;
    line-height: 20px;
    margin: 2px 0;
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #eeede0;
    border-radius: 3px;
    margin-top: 2px;
}

/* Resizes Beyond20 Icon (20px) to fit new text size, this might need further fixing/a new, smaller icon for better visibility. */
.beyond20-message details img.ct-beyond20-custom-icon {
    height: 10px;
}

/***************************************************************************/
/* Chat damage buttons */
.beyond20-chat-damage-buttons {
    position: absolute;
    right: 0px;
    top: calc(-1.5rem - 10px);
    width: 100%;
    padding: 3px;
    margin: 5px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}
.beyond20-chat-damage-buttons > button {
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    padding: 1px;
    margin-left: 5px;
    padding: 0px 3px;
    border-radius: 3px;
}

.beyond20-chat-damage-buttons-container > i,
.beyond20-chat-damage-buttons-container .beyond20-chat-damage-buttons {
    display: none;
}

.beyond20-chat-damage-buttons-container:hover .beyond20-chat-damage-buttons {
    display: inline;
}

.beyond20-roll-result:hover .beyond20-chat-damage-buttons-container > i {
    display: inline;
}
